body {
    background-color: #f4f4f4; /* Light grey background for the entire page */
    font-family: Arial, sans-serif; /* Consistent font */
}

#navbar {
    margin-bottom: 20px; /* Space between the navbar and content */
}

.sort-options {
    margin-bottom: 15px; /* Space below the sorting buttons */
}

.sort-options button {
    margin: 0 5px; /* Spacing between buttons */
}

#rss-content ul {
    list-style: none; /* Remove default list styling */
    padding: 0;
}

#rss-content li {
    background-color: #ffffff; /* White background for each list item */
    border: 1px solid #ddd; /* Light grey border */
    padding: 15px;
    margin-bottom: 1%; /* Space between list items */
    padding-bottom: 0; /* Remove bottom padding */
}

#rss-content li .item-text {
    color: #333; /* Dark text for readability */
}

#rss-content li .item-text a {
    color: #007bff; /* Bootstrap primary color for links */
    text-decoration: none;
}

#rss-content li .item-text a:hover {
    text-decoration: underline; /* Underline on hover for links */
}

#rss-content li .item-text p {
    margin-top: 5px;
    font-size: 0.9em;
    color: #666; /* Lighter text for the publish date */
}

.session-status {
    background-color: #e9ecef; /* Light grey background */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px; /* Space below the session status box */
    width: 20em;
    margin: auto;
}

.session-status span {
    font-weight: bold;
    color: #333;
}
